            <Single Type="{f86c2928-8614-4cca-824b-e819ac4d58c4}" Method="IArchivable">
              <Array Name="ConfiguredComplexInputs" Type="{1de566f6-72a7-494c-9353-9a418172c96e}" />
              <List Name="Elements" Type="System.Collections.ArrayList" />
              <Null Name="VisualElementDescription" />
              <Single Name="VisualElemMemberList" Type="{17e26cd1-bb9b-47fe-a3d5-18fcd63b9c96}" Method="IArchivable">
                <List Name="VisualElemMemberList" Type="{a4b83bea-3742-489c-9fe8-d96d68dba7ab}">
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2812299069</Single>
                    <Single Name="Value" Type="uint">4294967295</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">494569607</Single>
                    <Single Name="Value" Type="uint">4278190080</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1649127785</Single>
                    <Single Name="Value" Type="int">@@X@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">357335551</Single>
                    <Single Name="Value" Type="int">@@Y@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2422045748</Single>
                    <Single Name="Value" Type="int">@@WIDTH@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2134141914</Single>
                    <Single Name="Value" Type="int">@@HEIGHT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">4062784938</Single>
                    <Single Name="Value" Type="string">@@STYLE_ROLE@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">493260384</Single>
                    <Single Name="Value" Type="uint">4294967295</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">135947015</Single>
                    <Single Name="Value" Type="uint">4278190080</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2678395525</Single>
                    <Single Name="Value" Type="uint">1</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2340015797</Single>
                    <Single Name="Value" Type="string">HCENTER</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2565699834</Single>
                    <Single Name="Value" Type="string">VCENTER</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">296037572</Single>
                    <Single Name="Value" Type="string" />
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">390574330</Single>
                    <Single Name="Value" Type="string" />
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">571893170</Single>
                    <Single Name="Value" Type="string" />
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">743958181</Single>
                    <Single Name="Value" Type="string">@@VAR@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2597686782</Single>
                    <Single Name="Value" Type="bool">False</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">3719097617</Single>
                    <Single Name="Value" Type="int">0</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">550940142</Single>
                    <Single Name="Value" Type="int">@@CENTER_X@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1473355128</Single>
                    <Single Name="Value" Type="int">@@CENTER_Y@@</Single>
                  </Single>
                </List>
              </Single>
              <Single Name="VisualElementName" Type="string">Lamp1</Single>
              <Single Name="VisualElementTypeName" Type="string">VisuFbElemLamp</Single>
              <Single Name="VisualElementIsRectangle" Type="bool">True</Single>
              <Single Name="VisualElementIdentifier" Type="string">@@IDENTIFIER@@</Single>
              <Null Name="VisualElementOfflinePaintCommands" />
              <Null Name="VisualElementFrameInformation" />
              <Dictionary Type="System.Collections.Hashtable" Name="VisualElementInputActions" />
              <Single Name="VisualElementIdentification" Type="System.Guid">@@IDENTIFICATION_GUID@@</Single>
              <Single Name="VisualElementOwningObjectGuid" Type="System.Guid">@@OWNING_GUID@@</Single>
              <Array Name="LMGuids" Type="System.Guid" />
              <Dictionary Type="System.Collections.Hashtable" Name="SubElements" />
              <Single Name="VisualElementId" Type="int">@@VISUAL_ELEMENT_ID@@</Single>
              <List Name="UserManagementAccessRights" Type="System.Collections.ArrayList" />
              <Single Name="AnimationDuration" Type="string">0</Single>
              <Single Name="BringToForeground" Type="string" />
              <Single Name="ElementVersion" Type="byte">0</Single>
              <Null Name="TabOrder" />
            </Single>
