<?xml version='1.0' encoding='utf-8'?>
<Single Type="{6198ad31-4b98-445c-927f-3258a0e82fe3}" Method="IArchivable">
      <Single Name="IsRoot" Type="bool">False</Single>
      <Single Name="MetaObject" Type="{81297157-7ec9-45ce-845e-84cab2b88ade}" Method="IArchivable">
        <Single Name="Guid" Type="System.Guid">@@VISU_GUID@@</Single>
        <Single Name="ParentGuid" Type="System.Guid">@@PARENT_GUID@@</Single>
        <Single Name="Name" Type="string">@@NAME@@</Single>
        <Dictionary Type="{2c41fa04-1834-41c1-816e-303c7aa2c05b}" Name="Properties">
          <Entry>
            <Key>
              <Single Type="System.Guid">829a18f2-c514-4f6e-9634-1df173429203</Single>
            </Key>
            <Value>
              <Single Type="{829a18f2-c514-4f6e-9634-1df173429203}" Method="IArchivable">
                <Dictionary Type="{fa2ee218-a39b-4b6d-b249-49dbddbd168a}" Name="ParentObjects">
                  <Entry>
                    <Key>
                      <Single Type="System.Guid">d9b2b2cc-ea99-4c3b-aa42-1e5c49e65b84</Single>
                    </Key>
                    <Value>
                      <Single Type="System.Guid">@@PARENT_SVNODE_GUID@@</Single>
                    </Value>
                  </Entry>
                </Dictionary>
              </Single>
            </Value>
          </Entry>
          <Entry>
            <Key>
              <Single Type="System.Guid">477d844b-9b2a-407e-90a4-d36fd6dde2fc</Single>
            </Key>
            <Value>
              <Single Type="{477d844b-9b2a-407e-90a4-d36fd6dde2fc}" Method="IArchivable">
                <Single Name="VisuUsageType" Type="int">0</Single>
                <Single Name="SizeX" Type="int">@@SIZE_X@@</Single>
                <Single Name="SizeY" Type="int">@@SIZE_Y@@</Single>
                <Single Name="IsStartVisu" Type="bool">@@IS_START_VISU@@</Single>
                <Single Name="VisuSizeMode" Type="{34718b76-91f6-43de-8c65-b77e0b1ee621}">Specified</Single>
                <Single Name="Internal" Type="bool">False</Single>
                <Single Name="DialogIsOpaque" Type="bool">False</Single>
                <Single Name="DialogIsOpaqueIsSet" Type="bool">False</Single>
                <Single Name="UseParentSizeProperties" Type="bool">True</Single>
                <Null Name="ToolboxCategory" />
                <Null Name="ToolboxImageId" />
                <Single Name="IsCustomCategory" Type="bool">False</Single>
              </Single>
            </Value>
          </Entry>
        </Dictionary>
        <Single Name="TypeGuid" Type="System.Guid">f18bec89-9fef-401d-9953-2f11739a6808</Single>
        <Null Name="EmbeddedTypeGuids" />
        <Single Name="Timestamp" Type="long">639177758534667833</Single>
      </Single>
      <Single Name="Object" Type="{f18bec89-9fef-401d-9953-2f11739a6808}" Method="IArchivable">
        <Null Name="LastVisuLanguageModelEntry" />
        <Single Name="UniqueIdGenerator" Type="string">@@UNIQUE_ID_GENERATOR@@</Single>
        <Single Name="VisualElemList" Type="{f285c9a3-7019-446b-b98c-ccec3a0af8fa}" Method="IArchivable">
          <List Name="VisualElementList" Type="{ef9d0b20-c96e-48db-b361-2ded4063150e}">
@@ELEMENTS@@          </List>
          <Single Name="BackgroundBitmapId" Type="string" />
          <Single Name="BackgroundColor" Type="int">16777215</Single>
          <Single Name="Background" Type="{1038f12c-dd4b-4f96-87a3-a350fe8f3552}" Method="IArchivable">
            <Null Name="BgGradient" />
            <Null Name="BgNamedColor" />
            <Single Name="BgBmpId" Type="string" />
            <Single Name="BgUseBmp" Type="bool">False</Single>
            <Single Name="BgColor" Type="bool">False</Single>
            <Single Name="BgUseColor" Type="int">16777215</Single>
            <Single Name="BgUseGradient" Type="bool">False</Single>
          </Single>
          <Single Name="AllElementsHaveDynamicVisibility" Type="bool">False</Single>
        </Single>
        <Single Name="LastUsedIdForIdentifier" Type="int">@@LAST_USED_ID@@</Single>
        <Single Name="GvlCreated" Type="bool">False</Single>
        <Null Name="LMEntry" />
        <Single Name="ProfileCompatibilityId" Type="long">4140216668</Single>
        <Single Name="LMVerMinor" Type="int">0</Single>
        <Single Name="LMVerMajor" Type="int">1</Single>
        <Single Name="Hotkeys" Type="{6b108d46-58af-4e41-a3f4-174d8f160cc4}" Method="IArchivable">
          <Single Name="IdMin" Type="long">481037385728</Single>
          <Single Name="IdMax" Type="long">549755813887</Single>
          <Single Name="Id" Type="long">481037385728</Single>
          <Single Name="IdMask" Type="long">549754765312</Single>
          <Single Name="IdStep" Type="long">1048576</Single>
          <List2 Name="Inputs" />
        </Single>
        <Null Name="FrameInterfaceDataModel" />
      </Single>
      <Single Name="ParentSVNodeGuid" Type="System.Guid">@@PARENT_SVNODE_GUID@@</Single>
      <Array Name="Path" Type="string">
@@PATH@@      </Array>
      <Single Name="Index" Type="int">-1</Single>
    </Single>
