            <Single Type="{f86c2928-8614-4cca-824b-e819ac4d58c4}" Method="IArchivable">
              <Array Name="ConfiguredComplexInputs" Type="{1de566f6-72a7-494c-9353-9a418172c96e}" />
              <List Name="Elements" Type="System.Collections.ArrayList" />
              <Null Name="VisualElementDescription" />
              <Single Name="VisualElemMemberList" Type="{17e26cd1-bb9b-47fe-a3d5-18fcd63b9c96}" Method="IArchivable">
                <List Name="VisualElemMemberList" Type="{a4b83bea-3742-489c-9fe8-d96d68dba7ab}">
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">571893170</Single>
                    <Single Name="Value" Type="string" />
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1225741287</Single>
                    <Single Name="Value" Type="string">VISU_ST_STYLE</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1869484343</Single>
                    <Single Name="Value" Type="short">5</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">494569607</Single>
                    <Single Name="Value" Type="uint">@@FRAME_COLOR_UINT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2812299069</Single>
                    <Single Name="Value" Type="uint">@@FILL_COLOR_UINT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">135947015</Single>
                    <List Name="Value" Type="System.Collections.ArrayList">
                      <Single Type="{fa491db2-51ff-4bc1-9cd0-ce8c94ff6216}" Method="IArchivable">
                        <Single Name="Color" Type="int">-65536</Single>
                        <Single Name="CanonicalName" Type="string">BasicElement-Alarm-Frame-Color</Single>
                      </Single>
                    </List>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">493260384</Single>
                    <List Name="Value" Type="System.Collections.ArrayList">
                      <Single Type="{fa491db2-51ff-4bc1-9cd0-ce8c94ff6216}" Method="IArchivable">
                        <Single Name="Color" Type="int">-12337</Single>
                        <Single Name="CanonicalName" Type="string">BasicElement-Alarm-Fill-Color</Single>
                      </Single>
                    </List>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2340015797</Single>
                    <Single Name="Value" Type="string">HCENTER</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2565699834</Single>
                    <Single Name="Value" Type="string">VCENTER</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">4134387352</Single>
                    <Single Name="Value" Type="string">NONE</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1603690730</Single>
                    <Single Name="Value" Type="string">@@FONT_NAME@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">4253639993</Single>
                    <Single Name="Value" Type="short">@@FONT_SIZE@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2729990903</Single>
                    <Single Name="Value" Type="uint">0</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1213979116</Single>
                    <Single Name="Value" Type="uint">0</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">3488306084</Single>
                    <Single Name="Value" Type="uint">@@FONT_COLOR_UINT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">663104332</Single>
                    <Single Name="Value" Type="uint">@@FONT_COLOR_UINT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1999528970</Single>
                    <Single Name="Value" Type="string">&lt;toggle/tap variable&gt;</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">3719097617</Single>
                    <Single Name="Value" Type="int">0</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1649127785</Single>
                    <Single Name="Value" Type="int">@@X@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">357335551</Single>
                    <Single Name="Value" Type="int">@@Y@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2422045748</Single>
                    <Single Name="Value" Type="int">@@WIDTH@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2134141914</Single>
                    <Single Name="Value" Type="int">@@HEIGHT@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">3729828405</Single>
                    <List Name="Value" Type="System.Collections.ArrayList">
                      <Single Type="{9e842eb2-1463-4af2-b605-4fbb17044f94}" Method="IArchivable">
                        <Single Name="FontStyle" Type="int">0</Single>
                        <Single Name="AdditionalFontStyle" Type="ushort">0</Single>
                        <Single Name="ExplicitColor" Type="int">@@FONT_COLOR_SIGNED@@</Single>
                        <Single Name="CanonicalName" Type="string">Font-Standard</Single>
                        <Single Name="FontName" Type="string">@@FONT_NAME@@</Single>
                        <Single Name="DisplayName" Type="string" />
                        <Single Name="FontSize" Type="int">@@FONT_SIZE@@</Single>
                        <Single Name="ScriptIdentification" Type="int">0</Single>
                        <Single Name="DoubleFontSize" Type="double">0</Single>
                        <Single Name="NamedColor" Type="{fa491db2-51ff-4bc1-9cd0-ce8c94ff6216}" Method="IArchivable">
                          <Single Name="Color" Type="int">@@FONT_COLOR_SIGNED@@</Single>
                          <Single Name="CanonicalName" Type="string">Font-Default-Color</Single>
                        </Single>
                      </Single>
                    </List>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">550940142</Single>
                    <Single Name="Value" Type="int">@@CENTER_X@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">1473355128</Single>
                    <Single Name="Value" Type="int">@@CENTER_Y@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2678395525</Single>
                    <Single Name="Value" Type="uint">1</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">564465120</Single>
                    <Single Name="Value" Type="string">@@SHAPE@@</Single>
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">390574330</Single>
                    <Single Name="Value" Type="string" />
                  </Single>
                  <Single Type="{c694e3a2-5c0b-4177-ab35-cb06bd5a6a02}" Method="IArchivable">
                    <Single Name="Id" Type="long">2597686782</Single>
                    <Single Name="Value" Type="bool">True</Single>
                  </Single>
                </List>
              </Single>
              <Single Name="VisualElementName" Type="string">Rectangle</Single>
              <Single Name="VisualElementTypeName" Type="string">VisuFbElemSimple</Single>
              <Single Name="VisualElementIsRectangle" Type="bool">True</Single>
              <Single Name="VisualElementIdentifier" Type="string">@@IDENTIFIER@@</Single>
              <Null Name="VisualElementOfflinePaintCommands" />
              <Null Name="VisualElementFrameInformation" />
@@VISUAL_ELEMENT_INPUT_ACTIONS@@
              <Single Name="VisualElementIdentification" Type="System.Guid">@@IDENTIFICATION_GUID@@</Single>
              <Single Name="VisualElementOwningObjectGuid" Type="System.Guid">@@OWNING_GUID@@</Single>
              <Array Name="LMGuids" Type="System.Guid" />
              <Dictionary Type="System.Collections.Hashtable" Name="SubElements" />
              <Single Name="VisualElementId" Type="int">@@VISUAL_ELEMENT_ID@@</Single>
              <List Name="UserManagementAccessRights" Type="System.Collections.ArrayList" />
              <Single Name="AnimationDuration" Type="string">0</Single>
              <Single Name="BringToForeground" Type="string" />
              <Single Name="ElementVersion" Type="byte">1</Single>
              <Null Name="TabOrder" />
            </Single>
